$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;

$primary-text-color: #212121;
$text-color-light: #757575;
$accent-color: #2196f3;
$text-color-white: #ffffff;
$text-color-black: #000000;
$text-color-footer-auth: rgba(255, 255, 255, 0.6);
$bgc-color-secondary: #f5f4fa;
$bgc-color: #2f303a;
$border-color: #eeeeee;
$bgc-img: rgba(47, 48, 58, 0.4);
$icon-color: #afb1b8;

.section__title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.box-title {
    font-size: inherit;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
