.header {
    border-bottom: 1px solid #ececec;
}

.header__container {
    position: relative;
    display: flex;
    align-items: center;
    @media screen and (min-width: 320px) {
        height: 60px;
    }

    @media screen and (min-width: 768px) {
        height: 80px;
    }

    @media screen and (min-width: 1200px) {
        // padding-top: 25px;
        // padding-bottom: 25px;
    }
}

.menu-container {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 48px;
    padding-left: 40px;

    background-color: $text-color-white;

    &.is-open {
        display: block;
    }

    @media screen and (min-width: 768px) {
        padding: 0;
        position: relative;
        display: flex;
        // background-color: transparent;
        align-items: center;
    }
}

.menu-button {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 10px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover,
    &:focus {
        fill: $accent-color;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu-button .icon-cross {
    display: none;
}

.menu-button.is-open .icon-cross {
    display: block;
}

.menu-button.is-open .icon-burger {
    display: none;
}

.mobile-social__list {
    display: flex;
    align-items: center;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.mobile-social__link {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.04;
    color: $accent-color;
    text-decoration: none;
}

.mobile-social__item {
    margin-bottom: 48px;
    margin-top: 64px;

    &--palka {
        display: inline-block;
        color: $primary-text-color;
        opacity: 0.2;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 22px;
    }
}

.header__auth-nav {
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
        flex-direction: row-reverse;
    }
}
