.auth-nav__link {
    color: $text-color-light;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-color;
    }

    @media screen and (min-width: 768px) {
        display: inline-flex;
        align-items: center;
        background-size: contain;
        font-size: 12px;
        line-height: 1.17;
    }

    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 1.14;
    }
}

.auth-nav__item {
    @media screen and (max-width: 767px) {
        & + & {
            padding-top: 32px;
        }
    }

    @media screen and (min-width: 768px) {
        & + & {
            padding-bottom: 10px;
        }
    }

    @media screen and (min-width: 1200px) {
        & + & {
            margin-right: 30px;
            padding: 0;
        }
    }
}

.auth-nav__icon {
    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 768px) {
        margin-right: 8px;
        fill: $text-color-light;
        background-size: contain;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

        .auth-nav__link:hover &,
        .auth-nav__link:focus & {
            fill: $accent-color;
        }
    }

    @media screen and (min-width: 1200px) {
        margin-right: 10px;
    }
}
