.social-list {
    display: flex;
    // justify-content: space-between;
    justify-content: center;
    margin: 0 auto;
}

.social-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        background-color: $accent-color;
    }
}

.social-list__link--footer {
    background-color: rgba(255, 255, 255, 0.1);
}

.social-list__icon {
    fill: $icon-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .social-list__link:hover & {
        fill: $text-color-white;
    }
}

.social-list__item {
    &:not(:last-child) {
        margin-right: 10px;
    }
}

.social-list__item--footer {
    fill: $text-color-white;

    &:not(:last-child) {
        margin-right: 10px;
    }
}
