html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0 auto;
    background-color: $text-color-white;
    color: $primary-text-color;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
}

// body.modal-open {
//     overflow: hidden;
// }

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

.list {
    padding-inline: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding: 0 15px;
    outline: 1px solid red;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;

    &:nth-child(2n + 4) {
        background-color: $bgc-color-secondary;
    }
}

.section__no-padding {
    padding-bottom: 0;
}
